@font-face {
    font-family: ProximaNovaRegular;
    src: url('/static/fonts/ProximaNovaRegular.otf');
}
  
@font-face {
    font-family: ProximaNovaCondensedRegular;
    src: url('/static/fonts/ProximaNovaCondensedRegular.otf');
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url('/static/fonts/ProximaNovaSemibold.otf');
}