@import '../node_modules/vuetify/dist/vuetify.min';

@import './pages/login';

@import './fonts';

// CHROME OVERRIDES
@-webkit-keyframes autofill {
  to {
          background: transparent;
    }
  }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}