<template>
    <v-layout class="middle-container-form">
      <v-flex sm6 xs12 class="left">
        <div class="headline-middle"><span>Podesite vasu dostupnost</span></div>
        <div class="picture-holder young"></div>
        <div class="bottom-text-middle">
          Da bi operateri znali da li mogu da računaju na vas, molimo vas da držite ažurnu vašu dostupnost.
          Kada promenite status dostupnosti ili pomoći koju nudite, molimo vas da pritisnete dugme sačuvaj.
        </div>
      </v-flex>
      <v-flex sm6 xs12 class="right">
          <v-btn class="customBtn" :class="{'disabled':buttonValue !== 'notavailable'}" @click="setAvailability('notavailable')" large color="#FFFFFF">Nedostupan</v-btn>
          <v-btn class="customBtn" :class="{'disabled':buttonValue !== 'available'}" @click="setAvailability('available')" large color="#FFFFFF">Dostupan</v-btn>
          <div class="help-desc">Mogu da pomognem sa</div>
          <v-checkbox v-for="help in helps" :key="help.id"
            v-validate="'required'"
            name="helpType"
            v-model="selectedHelps"
            :hide-details="true"
            :label="help.name"
            :value="help.id" ></v-checkbox>
          <p class="error-message">{{errors.collect('helpType')[0]}}</p>
          <v-btn @click="Save" class="btn-right" :disabled="errors.any()" :loading="loading" block color="#0E1C42">Sačuvaj</v-btn>
      </v-flex>
    </v-layout>
</template>

<script>
import {mapGetters} from 'vuex'
import contentService from '../../services/ContentService'

export default {
  name: 'Availability',
  data () {
    return {
      buttonValue: 'available',
      helps: [],
      selectedHelps: [],
      loading: false
    }
  },
  computed: {
    ...mapGetters('auth', ['frontUser'])
  },
  mounted () {
    this.buttonValue = this.frontUser.availability ? 'available' : 'notavailable'
    contentService.getHelps().then(res => {
      this.helps = res.data
    })
    this.selectedHelps = this.frontUser.helpType.map(help => help.id)
  },
  methods: {
    setAvailability (val) {
      this.buttonValue = val
    },
    Save () {
      let formatedData = {
        _id: this.frontUser._id,
        helpType: this.helps.filter(help => this.selectedHelps.indexOf(help.id) !== -1),
        availability: this.buttonValue === 'available'
      }
      this.loading = true
      contentService.editVolonter(formatedData).then(res => {
        this.loading = false
        this.$store.dispatch('auth/updateUserFront', res.data)
      })
    }
  }
}
</script>

<style lang="scss">
  .middle-container-form {
    padding-top: 34px;
    .left {
      padding-right: 40px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: rgba(14, 28, 66, 0.15);
      }
    }
    .headline-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-bottom: 30px;
        span {
            color: #0E1C42;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 39px;
        }
    }
    .picture-holder {
        height: 282px;
        background-position: center;
        width: 100%;

        &.young {
            background-image: url("/static/img/young.svg");
        }

        &.old {
            background-image: url("/static/img/elder.svg");
        }
    }
    .right {
      padding-left: 40px;
      .help-desc {
        color: #0E1C42;
        font-size: 16px;
        font-weight: 800;
        margin-top: 40px;
      }
      .customBtn {
        margin-right: -10px;
        width: 50%;
        background-color: #FDB913 !important;
        &.disabled {
        background-color: #FFFFFF !important;
      }
    }
    }
    .btn-right {
      height: 64px;
      font-size: 20px;
      font-weight: 500;
      color: #FDB913;
    }
    .btn-left {
      height: 64px;
      font-size: 20px;
      font-weight: 500;
      color: #0E1C42;
    }
  }
</style>
