<template>
    <div class="banner">
        <div class="text-content">
            <div class="phone">
                <p class="phone-text">Javite se našim operaterima</p>
                <p class="phone-phone">{{phoneNumber}}</p>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Banner',
  computed: {
    ...mapGetters('front', ['getPhoneNumber']),
    phoneNumber () {
      return this.getPhoneNumber && this.getPhoneNumber.phones && this.getPhoneNumber.phones[0]
    }
  }
}
</script>
<style lang="scss">
    .banner {
        background-image: url("/static/img/baner.jpg");
        background-position:center center;
        background-repeat:no-repeat;
        width: 100%;
        height: 242px;
        background-size: cover;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 50%;
            height: 4px;
            background: #FDB913;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 50%;
            height: 4px;
            background: #0E1C42;
        }

        .text-content {
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
            height: 242px;

            .phone {
                position: absolute;
                bottom: 0px;
                right: 0px;
                padding-right: 20px;
                @media only screen and (max-width: 800px) {
                    bottom: none;
                    right: 0px;
                    top: 26px;
                    padding-right: 6px;

                }
                .phone-text {
                    @media only screen and (max-width: 800px) {
                        font-size: 14px;

                    }
                    font-style: normal;
                    margin-bottom: 6px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 8px;
                    text-align: right;
                    color: #0E1C42;
                }

                .phone-phone {
                    @media only screen and (max-width: 800px) {
                    font-size: 24px;

                    }
                    margin-bottom: 10px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 58px;
                    text-align: right;
                    color: #0E1C42;
                }
            }
        }
        @media only screen and (max-width: 800px) {
            height: 86px;
            background-image: url("/static/img/mobbaner.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
</style>
