<template>
  <v-layout class="middle-container">
      <v-flex sm6 class="left">
          <div class="headline-middle"><span>Imate vremena i želite da pomognete?</span></div>
          <div class="picture-holder young"></div>
          <div class="bottom-text-middle">
            Popunite ovaj formular sa svim podacima kako bi Vas naši operateri što pre kontaktirali i spojili sa osobom iz Vaše opštine kojoj je potrebna pomoć.
          </div>
          <v-btn :to="{name: 'helper'}" class="btn-left" block color="#FDB913">Prijavite se</v-btn>
      </v-flex>
      <v-flex sm6 class="right">
          <div class="headline-middle"><span>Treba vam pomoć?</span></div>
          <div class="picture-holder old"></div>
          <div class="bottom-text-middle">
            Popunite ovaj formular sa svim podacima kako bi Vas naši operateri što pre kontaktirali i spojili s osobom iz Vaše opštine koja želi da pomogne.
          </div>
          <v-btn :to="{name: 'needers'}" class="btn-right" block color="#0E1C42">Prijavite se</v-btn>
      </v-flex>
      <v-layout class="mobi" column>
        <v-flex sm12><div class="picture-holder"></div></v-flex>
      </v-layout>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Content',
  computed: {
    ...mapGetters('front', ['getPhoneNumber'])
  }
}
</script>

<style lang="scss">
.content-wrapper {
    .content {
        .middle-container {
          padding-top: 34px;
          .mobi {
            display: none;

            .picture-holder {
              height: 282px;
              background-position: center;
              width: 100%;
              background-image: url("/static/img/old-young.svg");
            }
          }
          .left {
            .headline-middle {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: left;
              height: 80px;
              margin-bottom: 30px;
              span {
                  text-align:left;
                  color: #0E1C42;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 39px;
              }
          }
            padding-right: 40px;
            position: relative;
            .bottom-text-middle {
              height: 100px;
              line-height: 22px;
              font-size: 16px;
              font-weight: 800;
              color: rgba(14, 28, 66, 0.7);

            }
            &:after {
              content: '';
              position: absolute;
              right: 0px;
              top: 0px;
              width: 1px;
              height: 100%;
              background: rgba(14, 28, 66, 0.15);
            }
          }
          .right {
            padding-left: 40px;
            .bottom-text-middle {
              height: 100px;
              font-size: 16px;
              line-height: 22px;
              font-weight: 800;
              color: rgba(14, 28, 66, 0.7);

            }
            .headline-middle {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: left;
              height: 80px;
              margin-bottom: 30px;
              span {
                  text-align:left;
                  color: #0E1C42;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 39px;
              }
          }
          }

          .picture-holder {
              height: 282px;
              background-position: center;
              width: 100%;

              &.young {
                  background-image: url("/static/img/young.svg");
              }

              &.old {
                  background-image: url("/static/img/elder.svg");
              }
          }
          .btn-right {
            height: 64px;
            color: #FDB913;
            font-size: 20px;
          }
          .btn-left {
            height: 64px;
            color: #0E1C42;
            font-size: 20px;
          }
        }
    }
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    .content {
      .middle-container {
        .left, .right {
          display: none;
        }
        .mobi {
          display: flex;
        }
      }
    }
  }
}
</style>
