<template>
<div class="footer-holder" :class="{home: $route.name === 'content'}">
    <div class="center-holder">
      <v-layout column>
          <v-flex xs12 class="first-footer">
              Javite se našim operaterima za dodatnu pomoć na
          </v-flex>
          <v-flex xs12 class="second-footer">
            {{phoneNumber}}
          </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6 class="third-footer">
          Akciju pomogla kompanija
        </v-flex>
        <v-flex xs6 class="third-footer">
          Akciju realizuje
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6 class="fourth-footer">
          <img src="/static/img/mozzlogo.svg">
        </v-flex>
        <v-flex xs6 class="fourth-footer">
          <img src="/static/img/pks.svg">
        </v-flex>
      </v-layout>
    </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Footer',
  computed: {
    ...mapGetters('front', ['getPhoneNumber']),
    phoneNumber () {
      return this.getPhoneNumber && this.getPhoneNumber.phones && this.getPhoneNumber.phones[0]
    }
  }
}
</script>
<style lang="scss">
  .footer-holder {
        background: #0E1C42;
        height: 325px;
        width: 100%;
        margin-top: 80px;
        .center-holder {
            max-width: 540px;
            margin: 0 auto;
            color: #fff;
            text-align: center;
            .first-footer {
                color: rgba(255, 255, 255, 0.9);
                font-size: 20px;
                margin-top: 43px;
            }
            .second-footer {
                color: #FDB913;
                font-size: 50px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
                padding-bottom: 19px;
            }
            .third-footer {
                color: rgba(255, 255, 255, 0.9);
                margin-top: 24px
            }
            .fourth-footer {
                img {
                width: 96px;
                height: 116px;
                }
            }
        }
  }

@media only screen and (max-width: 800px) {
  .footer-holder {
    &.home {
      margin-bottom: 130px;
    }
  }
}
</style>
