<template>
    <div class="nav">
        <v-layout class="nav-holder">
            <v-flex xs6>
                <div class="left">
                    <router-link to="/">
                        <div class="logo">
                            <img src="/static/img/ruka.svg">
                            <span>Solidarnost</span>
                        </div>
                    </router-link>
                </div>
            </v-flex>
            <v-flex xs6>
                <div class="right" data-app>
                    <v-dialog
                        v-model="loginModal"
                        width="525"
                        :persistent="true"
                      >
                        <template v-slot:activator="{ on }">
                          <div v-if="!isLoggedInFront" class="login" v-on="on">
                            <span>{{isLoggedInFront ? 'Izlogujte se' : 'Ulogujte se'}}</span>
                            <img src="/static/img/login.svg">
                          </div>
                          <div v-else @click="logout" class="login" >
                            <span>{{isLoggedInFront ? 'Izlogujte se' : 'Ulogujte se'}}</span>
                            <img src="/static/img/logout.svg">
                          </div>
                        </template>
                        <v-card>
                          <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                          >
                            <span>Prijava</span>
                            <v-spacer/>
                            <v-icon @click="loginModal = false">close</v-icon>
                          </v-card-title>
                          <v-card-text>
                            <v-alert
                              :value="message"
                              type="warning"
                              transition="scale-transition"
                              >
                              {{$t('user.loginError')}}
                            </v-alert>
                            <form @submit.prevent="onLogin">
                              <v-text-field
                                label="Solo"
                                placeholder="Korisnicko ime"
                                solo
                                v-validate="'required|email'"
                                name="email"
                                v-model="loginForm.email"
                                :error-messages="errors.collect('email')"
                              ></v-text-field>

                              <v-text-field
                                :loading="loading"
                                :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                                :type="showPassword ? 'text' : 'password'"
                                v-model="loginForm.password"
                                id="password"
                                name="password"
                                label="Password"
                                solo
                                placeholder="Password"
                                v-validate="'required|min:6'"
                                :error-messages="errors.collect('password')"
                                @click:append="showPassword = !showPassword"></v-text-field>

                              <v-btn type="subit" :loading="loading" :disabled="loading || errors.any()" class="btn-left" block color="#FDB913">Prijavite se</v-btn>
                            </form>
                          </v-card-text>
                        </v-card>
                    </v-dialog>
                </div>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Header',
  data () {
    return {
      showPassword: false,
      loginModal: false,
      message: false,
      loginForm: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapGetters('common', ['loading']),
    ...mapGetters('auth', ['isLoggedInFront'])
  },
  methods: {
    onLogin () {
      this.$validator.validateAll().then(res => {
        if (res) {
          this.$store.dispatch('auth/loginFront', this.loginForm)
            .then((response) => {
              this.message = false
              console.log('auth/loginFront', response)
              if (response.data.error && response.data.status === 'WRONG_CREDENTIALS') {
                this.message = true
              } else {
                this.loginModal = false
                this.$router.push({name: 'availability'})
              }
            })
            .catch((err) => {
              console.log(err)
            })
        }
      })
    },
    logout () {
      console.log('logout')
      this.$store.dispatch('auth/logoutFront')
        .then(() => {
          this.$router.push({name: 'content'})
        })
        .catch((err) => {
          console.log('logout fail', err.response)
        })
    }
  }
}
</script>

<style lang="scss">
  .nav {
    background-color: #FDB913;
    height: 54px;
    .nav-holder {
        max-width: 1040px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
      .left {
        height: 54px;
        a {
          text-decoration: none;
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
            span {
              padding-left: 8px;
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 29px;
              color: #0E1C42;
            }
        }
      }
      .right {
          height: 54px;
          a {
              text-decoration: none;
          }
          .login {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              cursor: pointer;
              span {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
                  padding-right: 10px;
                  color: #0E1C42;
              }
          }
      }
    }
  }

  .warning {
    background-color: #fb8c00!important;
    border-color: #fb8c00!important;
  }
</style>
