<template>
  <v-layout class="middle-container-form">
      <v-flex sm6 xs12 class="left">
          <div class="headline-middle"><span>Unesite vaše detalje</span></div>
          <div class="picture-holder young"></div>
          <div class="bottom-text-middle">
            Popunite ovaj formular sa svim podacima kako bi Vas naši operateri što pre kontaktirali i spojili sa osobom iz Vaše opštine kojoj je potrebna pomoć.
          </div>
      </v-flex>
      <v-flex sm6 xs12 class="right">
        <form @submit.prevent="saveVolonter()">
          <v-text-field
            label="Solo"
            placeholder="Ime"
            v-model="name"
            v-validate="'required'"
            name="name"
            :error-messages="errors.collect('name')"
            solo
          ></v-text-field>

          <v-text-field
            label="Solo"
            placeholder="Prezime"
            v-model="surname"
            v-validate="'required'"
            name="surname"
            :error-messages="errors.collect('surname')"
            solo
          ></v-text-field>

          <v-text-field
            label="Solo"
            placeholder="Broj telefona"
            v-model="phone"
            v-validate="'required'"
            :error-messages="errors.collect('phone')"
            name="phone"
            solo
          ></v-text-field>
           <v-text-field
            label="Solo"
            placeholder="Email"
            v-model="email"
            name="email"
            v-validate="'required|email'"
            :error-messages="errors.collect('email')"
            solo
          ></v-text-field>
          <v-text-field
            label="Solo"
            placeholder="Password"
            v-model="password"
            :type="'password'"
            v-validate="'required|min:6'"
            name="password"
            :error-messages="errors.collect('password')"
            solo
          ></v-text-field>
            <v-autocomplete
            v-model="city"
            :items="countries"
            name="city"
            :error-messages="errors.collect('city')"
            v-validate="'required'"
            :label="'izaberite Grad/Opštinu'"
            item-text="name"
            solo
            persistent-hint
            >
           </v-autocomplete>
            <div class="help-desc">Mogu da pomognem sa</div>
            <v-checkbox v-for="help in helps" :key="help.id"
              v-model="selectedHelps"
              :label="help.name"
               v-validate="'required'"
              name="helpType"
              :hide-details="true"
              :value="help.id"
            ></v-checkbox>
            <p class="error-message">{{errors.collect('helpType')[0]}}</p>
             <v-alert
              :value="msg"
              type="warning"
              transition="scale-transition"
            >
              {{msg}}
            </v-alert>
          <v-btn type="submit" class="btn-left" block color="#FDB913">Prijavite se</v-btn>
        </form>
      </v-flex>
  </v-layout>
</template>

<script>
/* eslint-disable */
import contentService from '../../services/ContentService'

export default {
  name: 'HelperVolonter',
  mounted () {
    contentService.getCiteis().then(res => {
        this.countries = res.data;
    })
    contentService.getHelps().then(res => {
        this.helps = res.data;
    })
  },
  data(){
      return {
          name: '',
          surname: '',
          phone: '',
          years: '',
          email: '',
          password: '',
          city: '',
          selectedHelps:[],
          countries: [],
          helps: [],
          msg:''

      }
  },
  methods: {
    saveVolonter(){
      this.$validator.validateAll().then(res => {
        if (res) {
          console.log(res)
          let dataForSend = {
            name:this.name,
            surname: this.surname,
            phone: this.phone,
            email: this.email,
            password: this.password,
            city: this.city,
            availability: true
          }
          dataForSend.helpType = this.helps.filter(help => this.selectedHelps.indexOf(help.id) !== -1)
          contentService.saveVolonter(dataForSend).then(res => {
            this.$store.dispatch('auth/loginFront', {email: dataForSend.email, password: dataForSend.password})
              .then((response) => {
                this.message = false
                if (response.data.error && response.data.status === 'WRONG_CREDENTIALS') {
                  this.message = true
                } else {
                  this.$store.dispatch('front/setModal', {
                    show: true,
                    message: 'Registracija je uspešna, bićete automatski ulogovani.',
                    image: '/static/img/young.svg',
                    redirect: {name: 'availability'}
                  })
                }
              })
              .catch((err) => {
                console.log(err)
              })
          })
        } else {
          this.msg = 'Morate ispravno popuniti sva polja'
        }
      }).catch(valErr => {
        console.log('validation error', valErr)
      })
    
    }
  }
}
</script>

<style lang="scss">
  .help-desc {
    font-size: 16px;
    text-align: left;
    font-weight: 800;
  }
  .middle-container-form {
    padding-top: 34px;
    .left {
      padding-right: 40px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: rgba(14, 28, 66, 0.15);
      }
    }
    .right {
      padding-left: 40px;
    }
    .headline-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-bottom: 30px;
        span {
            color: #0E1C42;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 39px;
        }
    }
    .picture-holder {
        height: 282px;
        background-position: center;
        width: 100%;

        &.young {
            background-image: url("/static/img/young.svg");
        }

        &.old {
            background-image: url("/static/img/elder.svg");
        }
    }
    .btn-right {
      color: #FDB913;
      height: 64px;
      font-size: 20px;
      font-weight: 500;
    }
    .btn-left {
      height: 64px;
      font-size: 20px;
      font-weight: 500;
      color: #0E1C42;
    }
  }
</style>
