<template>
  <div id="app-fornt">
    <Header></Header>
    <div class="content-wrapper">
      <Banner></Banner>
      <v-layout  column class="content">
        <v-flex xs12>
            <div class="first-content">
              <div class="h1-el">Srbiji treba tvoja pomoć! Budi solidaran, VOLONTIRAJ ILI DONIRAJ</div>
            <p class="gradjani">
              Mnogi građani naše zemlje, usled pandemije virusa COVID-19, nisu u mogućnosti da obavljaju svoje redovne aktivnosti, poput odlaska u prodavnicu po namirnice, a neki su i finansijski ugroženi. Potrebna im je pomoć komšija i sugrađana.
              Ako si spremna/spreman da pomogneš prijavi se i budi volonter koji će našim starijim i bolesnim komšijama olakšati život u ovim teškim uslovima, ili budi donator.Unesi svoje podatke i opštinu u kojoj bi mogla/mogao da pomogneš, a naši operateri će te kontaktirati sa daljim uputstvima.Pozivamo i građane kojima je potrebna pomoć da se prijave ili popunjavanjem formulara, ili pozivom na broj <strong>{{phoneNumber}}</strong>. Pokažimo solidarnost.
            </p>
            <span class="phone-number-text">Javite se našim operaterima na</span> <span class="phone-number-small"><strong>{{phoneNumber}}</strong></span>
            </div>
        </v-flex>
        <router-view/>
      </v-layout>
    </div>
    <div class="mobi-btns" v-show="$route.name === 'content'">
      <v-flex sm12>
        <v-btn :to="{name: 'needers'}" class="btn-left" block color="#FDB913">Želim pomoć</v-btn>
        <v-btn :to="{name: 'helper'}" class="btn-right" block color="#0E1C42">Želim da pomognem</v-btn>
      </v-flex>
    </div>
    <Footer></Footer>
    <Modal></Modal>
  </div>
</template>

<script>
import Header from './Header.vue'
import Banner from './Banner.vue'
import Footer from './Footer.vue'
import Modal from './Modal.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'HomeFront',
  components: {
    Header,
    Banner,
    Footer,
    Modal
  },
  mounted () {
    this.$store.dispatch('front/getPhone')
  },
  computed: {
    ...mapGetters('front', ['getPhoneNumber']),
    phoneNumber () {
      return this.getPhoneNumber && this.getPhoneNumber.phones && this.getPhoneNumber.phones[0]
    }
  }
}
</script>

<style lang="scss">
  body {
    margin: 0 auto;
  }

  #app-fornt {
    font-family: ProximaNovaRegular;
  }

  .content-wrapper {
    .content {
      max-width: 1000px;
      text-align: center;
      margin: 0 auto;
      padding: 0px 20px;
      .first-content {
          text-align: left;
          margin-top:30px;
          .h1-el {
            font-size: 45px;
            padding-bottom: 13px;
            font-weight: 800;
            color: #0E1C42;
          }
          .gradjani {
            font-size: 14px;
            line-height: 20px;
          }
          p {
            font-size: 16px;
            color:rgba(14, 28, 66, 0.7);
            line-height: 22px;
          }
          .phone-number-text {
            font-size: 20px;
            font-weight: 800;
            color: rgba(14, 28, 66, 0.7);
          }
          .phone-number-small {
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #0E1C42;
          }
      }
    }
  }

  .v-btn {
    &.btn-right {
        width: 100%;
      color: #FDB913;
    }
    &.btn-left {
      width: 100%;
      color: #0E1C42;
    }
  }
  .v-messages__message {
    color: #FF0505;
  }

.error-message {
  margin-top: 16px;
  color: #FF0505;
  text-align: left;
  padding-left: 12px;
  font-size: 12px;
}

.mobi-btns {
  display: none;
}

@media only screen and (max-width: 800px) {

  .content-wrapper {
    .content {
      .first-content {
        .h1-el {
          font-size: 24px;
        }
      }
      .phone-number-text, .phone-number-small {
        display: none;
      }
    }
  }

  .middle-container-form {
    .left {
      display: none;
    }

    .right {
      padding-left: 0px !important;
      max-width: 100%;
      flex-basis: 100%;
    }
  }

  .mobi-btns {
    .btn-left {
      height: 56px;
      font-size: 16px;
      font-weight: 800;
    }
    .btn-right {
      font-size: 16px;
      height: 56px;
      font-weight: 800;
    }
    display: block;
    // padding: 0px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
}
</style>
