<template>
  <v-dialog
      v-model="modal.show"
      width="350"
    >
      <v-card>
        <v-card-text>
          <div class="image">
            <!-- /static/img/elder.svg -->
            <img :src="modal.image"/>
          </div>
          <!-- Pomoć je zatražena, uskoro će Vam se javiti neko od naših volontera. -->
          <p class="dialog-text">{{modal.message}}</p>
          <v-btn @click="closeModal" class="btn-right" block color="#0E1C42">Uredu</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'Modal',
  computed: {
    ...mapGetters('front', ['modal'])
  },
  methods: {
    closeModal () {
      if (this.modal.redirect) {
        this.$router.push(this.modal.redirect)
      }
      this.$store.dispatch('front/setModal', {
        show: false,
        message: '',
        image: '',
        redirect: '/'
      })
    }
  }
}
</script>

<style lang="scss">
  .v-dialog {
    .image {
      text-align: center;
    }

    .dialog-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      color: #0E1C42;
      padding-top: 16px;
    }
  }
</style>
