<template>
    <v-layout class="middle-container-form">
      <v-flex sm6 xs12 class="left">
          <div class="headline-middle"><span>Unesite vaše detalje</span></div>
          <div class="picture-holder old"></div>
          <div class="bottom-text-middle">
            Molimo vas da uneste polja koja su obavezna kako bi vaša prijava mogla biti prosleđena našim volonterima.
            Kada se prijavite, ubrzo će vas pozvati operateri ili volonter kako bi se dogovorili oko pomoći.
          </div>
      </v-flex>
      <v-flex sm6 xs12 class="right">
        <form @submit.prevent="onSubmit">
          <v-text-field
            label="Ime"
            placeholder="Ime"
            v-validate="'required'"
            v-model="form.name"
            name="name"
            :error-messages="errors.collect('name')"
            solo
          ></v-text-field>

          <v-text-field
            label="Prezime"
            placeholder="Prezime"
            v-validate="'required'"
            v-model="form.surname"
            name="surname"
            :error-messages="errors.collect('surname')"
            solo
          ></v-text-field>

          <v-text-field
            label="Broj telefona"
            placeholder="Broj telefona"
            v-validate="'required'"
            v-model="form.phone"
            name="phone"
            :error-messages="errors.collect('phone')"
            solo
          ></v-text-field>

          <v-text-field
            label="Godine"
            placeholder="Godine"
            v-validate="'required|numeric'"
            v-model="form.age"
            name="age"
            :error-messages="errors.collect('age')"
            solo
          ></v-text-field>

          <v-autocomplete
            v-model="form.city"
            :items="countries"
            name="city"
            :error-messages="errors.collect('city')"
            v-validate="'required'"
            :label="'izaberite Grad/Opštinu'"
            item-text="name"
            solo
            persistent-hint>
           </v-autocomplete>

          <v-text-field
            label="Adresa"
            placeholder="Adresa"
            v-validate="'required'"
            v-model="form.address"
            name="address"
            :error-messages="errors.collect('address')"
            solo
          ></v-text-field>

          <div class="help-desc">Potrebna mi je pomoć sa</div>
          <v-checkbox v-for="help in helps" :key="help.id"
            v-validate="'required'"
            name="helpType"
            v-model="selectedHelps"
            :hide-details="true"
            :label="help.name"
            :value="help.id" ></v-checkbox>
          <p class="error-message">{{errors.collect('helpType')[0]}}</p>

           <v-textarea
            solo
            name="helpText"
            label="Opis pomoci"
            v-model="form.helpText"
          ></v-textarea>

          <v-btn type="submit" class="btn-right" block color="#0E1C42">Prijavite se</v-btn>
        </form>
      </v-flex>
  </v-layout>
</template>

<script>
import contentService from '../../services/ContentService'

export default {
  name: 'Needers',
  data () {
    return {
      form: {
        name: '',
        surname: '',
        phone: '',
        age: '',
        city: '',
        address: '',
        helpText: ''
      },
      selectedHelps: [],
      countries: [],
      helps: []
    }
  },
  mounted () {
    contentService.getCiteis().then(res => {
      this.countries = res.data
    })
    contentService.getHelps().then(res => {
      this.helps = res.data
    })
  },
  methods: {
    onSubmit () {
      this.$validator.validateAll().then(res => {
        if (res) {
          let formatedData = {...this.form}
          formatedData.helpType = this.helps.filter(help => this.selectedHelps.indexOf(help.id) !== -1)
          contentService.saveNeeders(formatedData).then(res => {
            this.resetForm()
            this.$store.dispatch('front/setModal', {
              show: true,
              message: 'Pomoć je zatražena, uskoro će Vam se javiti neko od naših volontera.',
              image: '/static/img/elder.svg',
              redirect: '/'
            })
          })
        }
      })
    },
    resetForm () {
      this.form = {
        name: '',
        surname: '',
        phone: '',
        age: '',
        city: '',
        address: '',
        helpText: ''
      }
    }
  }
}
</script>

<style lang="scss">
  // @media only screen and (max-width: 800px) {
  //   .first-content {
  //       display: none;
  //   }
  // }
  .middle-container-form {
    padding-top: 34px;
    .left {
      padding-right: 40px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: rgba(14, 28, 66, 0.15);
      }
    }
    .right {
      padding-left: 40px;
    }
    .headline-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-bottom: 30px;
        span {
            color: #0E1C42;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 39px;
        }
    }
    .picture-holder {
        height: 282px;
        background-position: center;
        width: 100%;

        &.young {
            background-image: url("/static/img/young.svg");
        }

        &.old {
            background-image: url("/static/img/elder.svg");
        }
    }
    .btn-right {
      height: 64px;
      font-size: 20px;
      color: #FDB913;
    }
    .btn-left {
      height: 64px;
      font-size: 20px;
      color: #0E1C42;
    }
  }
</style>
