<template>
  <v-footer app>
    <v-flex class="footer-admin"
      py-3
      text-xs-center
      white--text
      xs12
    >
      &copy; {{year}} <strong>Mozzart Admin</strong>
    </v-flex>
  </v-footer>
</template>

<script>
export default {
  computed: {
    year () {
      let date = new Date()
      return date.getFullYear()
    }
  }
}
</script>

<style lang="scss">
.footer-admin {
  background-color: #FDB913;
}
</style>
