<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-list dense>
    <template v-for="item in items[getRole]">
      <v-layout
        v-if="item.heading"
        :key="item.heading"
        row
        align-center
      >
        <v-flex xs6>
          <v-subheader v-if="item.heading">
            {{ item.heading }}
          </v-subheader>
        </v-flex>
        <v-flex xs6 class="text-xs-center">
          <a href="#!" class="body-2 black--text">EDIT</a>
        </v-flex>
      </v-layout>
      <v-list-group
        v-else-if="item.children"
        v-model="item.model"
        :key="item.text"
        :prepend-icon="item.model ? item.icon : item['icon-alt']"
        append-icon=""
      >
        <template v-slot:activator>
          <v-list-tile :to="item.url">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <v-list-tile
          v-for="(child, i) in item.children"
          :key="i"
          :to="child.url"
        >
          <v-list-tile-action v-if="child.icon" :to="item.url">
            <v-icon>{{ child.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ child.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-group>
      <v-list-tile v-else :key="item.text" :to="item.url">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            {{ $t(item.lang_id)}}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'mnavigation',
  data: () => ({
    items: {
      'SUPERADMIN': [
        {icon: 'dashboard', text: 'Početna', url: '/admin', lang_id: 'menu.home'},
        {icon: 'persons', text: 'Volonteri', url: '/volonters', lang_id: 'menu.volonters'},
        {icon: 'persons', text: 'Korisnici', url: '/users', lang_id: 'other.users'}
      ]
    }
  }),
  computed: {
    ...mapGetters('auth', [
      'getRole'
    ])
  }
}
</script>

<style scoped>
</style>
