<template>
  <v-toolbar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    color="#FDB913"
    dark
    app
    fixed
  >
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">Volonter Admin</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-menu bottom left>
      <v-btn
        slot="activator"
        dark
        icon
      >
        {{$i18n.locale}}
      </v-btn>

      <v-list v-show="$i18n.locale !== 'sr'">
        <v-list-tile @click="onChangeLocale('sr')">
          <v-list-tile-title>Srpski</v-list-tile-title>
        </v-list-tile>
      </v-list>
      <v-list v-show="$i18n.locale !== 'en'">
        <v-list-tile @click="onChangeLocale('en')">
          <v-list-tile-title>English</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-btn flat @click="onLogout">
      {{$t('other.logout')}}
      <v-icon right dark>highlight_off</v-icon>
      </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  methods: {
    onLogout () {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push('/admin-login')
        })
        .catch((err) => {
          console.log('logout fail', err.response)
        })
    },
    onChangeLocale (locale) {
      this.$i18n.locale = locale
      this.$store.dispatch('common/changeLang', locale)
    }
  },
  computed: {
    drawer: {
      get () {
        return this.$store.getters['common/drawer']
      },
      set (val) {
        this.$store.dispatch('common/setDrawer', val)
      }
    }
  }
}
</script>

<style scoped>

</style>
