<template>
  <v-flex sm4>
    <v-card :color="statusColors[needer.status]" class="white--text">
      <v-card-text>
        <div class="card-content">
          <div><strong>Adresa:</strong> {{`${needer.city}, ${needer.address}`}}</div>
          <div><strong>Telefon:</strong> {{needer.phone}}</div>
          <div><strong>Ime:</strong> {{`${needer.name} ${needer.surname}`}}</div>
          <div><strong>Godine:</strong> {{needer.age}}</div>
          <div><strong>Pomoc:</strong> <v-chip label dark small v-for="help in needer.helpType" :key="help.id">{{help.name}}</v-chip></div>
          <div v-if="needer.volonter"><strong>Volonter:</strong> {{`${needer.volonter.name} ${needer.volonter.surname} - ${needer.volonter.phone}`}}</div>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-btn small @click="connectVolonter" v-if="needer.status === 'OPEN'">Dodeli volontera</v-btn>
        <v-btn small @click="done" v-if="needer.status === 'PENDING'">Zavrsi</v-btn>
        <v-spacer></v-spacer>
        <v-btn icon @click="show = !show" :disabled="needer.helpText === ''">
          <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
        </v-btn>
      </v-card-actions>

      <v-slide-y-transition>
        <v-card-text v-show="show">
          {{needer.helpText}}
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: ['needer', 'index'],
  data: () => ({
    show: false,
    statusColors: {
      'OPEN': 'success',
      'PENDING': 'info',
      'DONE': 'error'
    }
  }),
  computed: {
    helpTypes () {
      return this.needer.helpType.map(help => help.name).join(', ')
    }
  },
  methods: {
    connectVolonter () {
      this.$emit('connect', this.index)
    },
    done () {
      this.$emit('done', this.index)
    }
  }
}
</script>

<style lang="scss">
.card-content {
  min-height: 165px;
}
</style>
