<template>
  <div class="flex">
    <v-container fluid grid-list-xl>
      <v-layout align-center justify-center>
        <v-flex sm4>
          <v-text-field
            v-model="search"
            append-icon="search"
            :label="$t('other.search')"
            single-line
            hide-details
            solo
          ></v-text-field>
        </v-flex>
        <v-divider :vertical="true"></v-divider>
        <v-flex sm3>
          <v-btn-toggle v-model="pagination.status" :disabled="!needers.length">
            <v-btn color="success" :loading="loading" light value="OPEN" @click="filterByType('OPEN')">
              NOVI
            </v-btn>
            <v-btn color="info" :loading="loading" value="PENDING" @click="filterByType('PENDING')">
              U OBRADI
            </v-btn>
            <v-btn color="error" :loading="loading" value="DONE" @click="filterByType('DONE')">
              ZAVRŠENI
            </v-btn>
          </v-btn-toggle>
        </v-flex>
        <v-flex sm4>
        </v-flex>
      </v-layout>
      <v-layout v-if="needers.length" wrap align-center>
        <Card v-for="(needer, index) in needers" @connect="connectVolonter(index)" @done="done(index)" :needer="needer" :index="index" :key="needer._id"></Card>
      </v-layout>
      <v-responsive v-else>
        <v-container fill-height>
          <v-layout align-center>
            <v-flex>
              <h3 class="display-3">Ops,</h3>
              <span class="subheading">Trenutno nema zahteva za pomoć.</span>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
      <v-layout justify-center aling-center>
        <v-btn @click="loadMore" :disabled="pagination.page === pages">Učitaj još...</v-btn>
      </v-layout>
    </v-container>
    <v-dialog v-model="volonterDialog" scrollable max-width="500px">
      <v-card>
        <v-card-title>Izaberite volontera:</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-radio-group v-model="selectedVolonter" column>
            <v-radio v-for="volonter in availableVolonters" :key="volonter._id" :label="`${volonter.city}, ${volonter.name} ${volonter.surname} - ${volonter.phone}`" :value="volonter._id"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" flat @click="volonterDialog = false">Zatvori</v-btn>
          <v-btn color="blue darken-1" :disabled="selectedVolonter === null" flat @click="saveVolonter">Dodeli volonteru</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import NeedersService from '../../../services/NeedersService'
import {mapActions} from 'vuex'
import Card from './Card'
import _ from 'lodash'

export default {
  components: {
    Card
  },
  data: () => ({
    loading: false,
    pagination: {
      page: 1,
      rowsPerPage: 9,
      search: '',
      status: ''
    },
    pages: null,
    search: '',
    needers: [],
    availableVolonters: [],
    volonterDialog: false,
    selectedNeeder: null,
    selectedVolonter: null
  }),
  mounted () {
    this.getNeeders()
  },
  watch: {
    search: function (newSearch, oldSearch) {
      this.searchNeeders(newSearch)
    }
  },
  methods: {
    ...mapActions({
      setMessage: 'common/setMessage'
    }),
    getNeeders (isPag = false) {
      this.loading = true
      NeedersService.getNeeders(
        {
          page: this.pagination.page,
          rowsPerPage: this.pagination.rowsPerPage,
          search: this.pagination.search,
          status: this.pagination.status
        }
      ).then(res => {
        this.loading = false
        if (isPag) {
          this.needers.push(...res.data.docs)
        } else {
          this.needers = res.data.docs
        }
        this.pages = res.data.pages
      })
    },
    filterByType (type) {
      if (this.pagination.status === type) {
        this.pagination.status = ''
      } else {
        this.pagination.status = type
      }
      this.getNeeders()
    },
    connectVolonter (index) {
      this.selectedNeeder = this.needers[index]
      NeedersService.getVolontersFiltered(this.selectedNeeder).then(res => {
        if (res.data.length === 0) {
          this.setMessage(`Trenutno nema slobodnih volontera za pomoc na adresi: ${this.selectedNeeder.address}`)
        } else {
          this.availableVolonters = res.data
          this.volonterDialog = true
        }
      })
    },
    done (index) {
      NeedersService.updateNeederStatus(this.needers[index]._id, 'DONE').then(res => {
        if (res.data.error) {
          this.setMessage(`Ovaj zahtev za pomoc je vec obradjen`)
        } else {
          this.needers[index].status = res.data.status
        }
      })
    },
    saveVolonter () {
      const volonter = this.availableVolonters.find(volonter => volonter._id === this.selectedVolonter)
      NeedersService.updateNeeder(volonter, this.selectedNeeder).then(res => {
        if (res.data.error) {
          this.setMessage(`Ovaj zahtev za pomoc je vec obradjen`)
        } else {
          let neederIndex = this.needers.findIndex(needer => needer._id === this.selectedNeeder._id)
          this.needers[neederIndex].status = res.data.status
          this.needers[neederIndex].volonter = res.data.volonter
          this.volonterDialog = false
          this.availableVolonters = []
          this.selectedNeeder = null
          this.selectedVolonter = null
          this.setMessage(`Uspesno ste dodelili volontera: ${volonter.name} ${volonter.surname} na izabranu pomoc.`)
        }
      })
    },
    searchNeeders: _.debounce(function (search) {
      this.pagination.search = search
      this.getNeeders()
    }, 300),
    loadMore () {
      this.pagination.page += 1
      this.getNeeders(true)
    }
  }
}
</script>
