<template>
  <v-app id="inspire">
    <Snackbar />
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <mnavigation></mnavigation>
    </v-navigation-drawer>
    <Toolbar />
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
    <!-- Footer -->
    <Footer />
  </v-app>
</template>
<script>
import Mnavigation from './Common/Mnavigation'
import Snackbar from './Common/Snackbar'
import Toolbar from './Common/Toolbar'
import Footer from './Common/Footer'

export default {
  components: {
    Mnavigation,
    Toolbar,
    Footer,
    Snackbar
  },
  data: () => ({
  }),
  computed: {
    drawer: {
      get () {
        return this.$store.getters['common/drawer']
      },
      set (val) {
        this.$store.dispatch('common/setDrawer', val)
      }
    }
  }
}
</script>
