<template>
  <div class="agents-wrapper">
    <v-card>
      <v-card-title>
        {{ $t('menu.volonters') }}
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('other.search')"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :pagination.sync="pagination"
        :total-items="pagination.totalItems"
        :items="volonters"
        class="elevation-1"
        :loading="loading"
        :rows-per-page-items="[10, 15, 25]"
      >
        <template slot="headerCell" slot-scope="props">
          {{ $t('agents.' + props.header.value) }}
        </template>
        <template slot="items" slot-scope="volonter">
          <td>{{volonter.item.name}}</td>
          <td>{{volonter.item.phone}}</td>
          <td>{{volonter.item.city}}</td>
          <td :style="getStyle(volonter.item.availability)">{{volonter.item.availability ? 'Dostupan' : 'Nedostupan'}}</td>
          <td class="justify-center layout px-0">
            <!-- <v-icon
              small
              class="mr-2"
              @click="editAgent(agent.item._id)"
            >
              edit
            </v-icon> -->
            <v-icon
              small
              @click="deleteAgent(volonter.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
      </v-data-table>
    </v-card>
    <!-- Add btn -->
    <!-- <v-btn
      fab
      bottom
      right
      color="pink"
      dark
      fixed
      @click.stop="toggleDialog"
      v-if="selectedRegion !== null"
    >
      <v-icon>add</v-icon>
    </v-btn> -->

    <!-- Dialog for edit user -->
    <!-- <v-dialog v-model="dialog" width="800px" persistent>
      <v-card>
        <form @submit.prevent="onSaveAgent">
          <v-card-title
            class="grey lighten-4 py-4 title"
          >
            {{agent._id !== null ? 'Edit agent' : 'Add new agent'}}
          </v-card-title>
          <v-container grid-list-sm class="pa-4">
            <v-layout row wrap>
              <v-flex xs12 align-center justify-space-between>
                <v-autocomplete
                  browser-autocomplete="off"
                  v-model="agent.city"
                  :items="citiesByRegion"
                  item-text="name"
                  return-object
                  :label="$t('bettingPlaces.city')"
                  persistent-hint
                  name="cityName"
                  prepend-icon="location_city"
                  v-validate="'required'"
                  :error-messages="errors.collect('cityName')"
                >
                  <template v-slot:append-outer>
                    <v-slide-x-reverse-transition mode="out-in">
                      <v-icon
                        :key="`icon-${isEditing}`"
                        :color="isEditing ? 'success' : 'info'"
                        @click="isEditing = !isEditing"
                        v-text="isEditing ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
                      ></v-icon>
                    </v-slide-x-reverse-transition>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-select
                  :items="languages"
                  v-model="agent.language"
                  :label="$t('city.language')"
                  item-value="shortName"
                  item-text="name"
                  return-object
                  prepend-icon="language"
                  name="language"
                  v-validate="'required'"
                  :error-messages="errors.collect('language')"
                ></v-select>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.agentId"
                  v-validate="'required'"
                  :error-messages="errors.collect('agentId')"
                  prepend-icon="account_circle"
                  name="agentId"
                  placeholder="ID agenta"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.name"
                  v-validate="'required'"
                  :error-messages="errors.collect('name')"
                  prepend-icon="account_circle"
                  name="name"
                  placeholder="Ime"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.address"
                  v-validate="'required'"
                  :error-messages="errors.collect('address')"
                  prepend-icon="account_balance"
                  name="address"
                  placeholder="Adresa"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.phone"
                  v-validate="'required'"
                  :error-messages="errors.collect('phone')"
                  prepend-icon="phone"
                  name="phone"
                  placeholder="Phone"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.custom1"
                  prepend-icon="add_circle"
                  name="custom1"
                  placeholder="Opciono polje 1"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 align-center justify-space-between>
                <v-text-field
                  v-model="agent.custom2"
                  prepend-icon="add_circle"
                  name="custom1"
                  placeholder="Opciono polje 2"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="toggleDialog">Cancel</v-btn>
            <v-btn color="info" :loading="loading" :disabled="loading || errors.any()" type="submit">{{agent._id !== null ? 'Update' : 'Save'}}
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script>
/* eslint-disable */
import {mapGetters, mapActions} from 'vuex'
import _ from 'lodash'

export default {
  name: 'Volonters',
  data: () => ({
    dialog: false,
    selectedRegion: null,
    isEditing: false,
    search: '',
    languages: [],
    agent: {
      _id: null,
      name: '',
      phone: '',
      city: '',
      availability:null
    },
    headers: [
      { text: 'Ime', value: 'name' },
      { text: 'Phone', value: 'phone', sortable: false },
      { text: 'Grad/Opstina', value: 'city', sortable: true },
      { text: 'Dostupnost', value: 'availability', sortable: true }

    ]
  }),
  mounted () {
    this.$store.dispatch('volonters/getVolonters')
  },
  computed: {
    ...mapGetters('common', ['loading']),
    ...mapGetters('volonters', ['volonters']),
    pagination: {
      get () {
        return this.$store.getters['volonters/pagination']
      },
      set (pagination) {
        this.$store.dispatch('volonters/updatePagination', pagination)
      }
    }
  },
  watch: {
    search: function (newSearch, oldSearch) {
      this.searchAgents(newSearch)
    }
  },
  methods: {
    ...mapActions({
      setMessage: 'common/setMessage'
    }),
    getStyle(availability){
      if(availability){
        return {'color':'green'}
      } else {
        return {'color':'red'}
      }
    },
    onRegionChange (selectedRegion) {
      this.selectedRegion = selectedRegion
      this.$store.dispatch('cities/getCitiesByRegion', selectedRegion)
      this.pagination = {...this.pagination, ...{region: this.selectedRegion}}
      // Set Languages
      this.languages = this.selectedRegion.languages
    },
    // onSaveAgent () {
    //   this.$validator.validateAll().then(res => {
    //     if (res) {
    //       if (this.agent._id === null) {
    //         this.$store.dispatch('agents/addAgent', this.agent).then(res => {
    //           this.setMessage(`Agent: ${res.name} successfully added`)
    //           this.dialog = false
    //           this.clearForm()
    //         }).catch(err => {
    //           console.log('err on add', err.response)
    //         })
    //       } else {
    //         this.$store.dispatch('agents/updateAgent', this.agent).then(res => {
    //           this.setMessage(`Agent: ${res.name} successfully updated`)
    //           this.dialog = false
    //           this.clearForm()
    //         }).catch(err => {
    //           console.log('err on update', err.response)
    //         })
    //       }
    //     } else {
    //       this.setMessage('Morate ispravno popuniti sva polja')
    //     }
    //   }).catch(valErr => {
    //     console.log('validation error', valErr)
    //   })
    // },
    // editAgent (id) {
    //   const agent = this.$store.getters['agents/getAgentById'](id)
    //   this.agent._id = agent._id
    //   this.agent.agentId = agent.agentId
    //   this.agent.name = agent.name
    //   this.agent.address = agent.address
    //   this.agent.phone = agent.phone
    //   this.agent.city = agent.city
    //   this.agent.language = agent.language
    //   this.agent.custom1 = agent.custom1
    //   this.agent.custom2 = agent.custom2

    //   // Set languages
    //   _.filter(this.domains, domain => { if (domain.shortName === agent.city.region.shortName) this.languages = domain.languages })
    //   this.dialog = true
    // },
    deleteAgent (agent) {
      let confVal = confirm(`Are you sure you want to delete agent: ${agent.name}?`)
      if (confVal) {
        this.$store.dispatch('volonters/deleteVolonter', agent._id).then(() => {
          this.setMessage(`Agent: ${agent.name} successfully deleted`)
        }).catch((err) => {
          console.log('err on delete', err.response)
        })
      }
    },
    toggleDialog () {
      if (this.dialog) {
        this.dialog = false
        this.clearForm()
      } else {
        this.dialog = true
      }
    },
    clearForm () {
      this.agent = {
        _id: null,
        name: '',
        address: '',
        phone: '',
        custom1: '',
        custom2: ''
      }
      this.region = null
      this.$validator.reset()
    },
    searchAgents: _.debounce(function (search) {
      this.$store.dispatch('volonters/updatePagination', {search: search})
    }, 300)
  }
}
</script>

<style lang="scss">
  .agents-wrapper {
    width: 100%;
  }
  // @media only screen and (max-width: 800px) {
  //   .first-content {
  //       display: none;
  //   }
  // }

  .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
    margin-top: 12px;
    margin-bottom: 0;
  }
</style>
