<template>
  <div class="users-wrapper">
    <v-card>
      <v-card-title>
        {{ $t('other.users') }}
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('other.search')"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :pagination.sync="pagination"
        :total-items="pagination.totalItems"
        :items="users"
        class="elevation-1"
        :loading="loading"
        :rows-per-page-items="[10, 15, 25]"
      >
        <template slot="headerCell" slot-scope="props">
          {{ $t('user.' + props.header.value) }}
        </template>
        <template slot="items" slot-scope="user">
          <td>{{ user.item.email }}</td>
          <td>{{ user.item.name }}</td>
          <td>
            <span v-if="user.item.role.role_id === 1">
              <v-tooltip bottom>
                <v-icon
                  slot="activator"
                  color="primary"
                  dark
                >person</v-icon>
                <span>Superadmin</span>
              </v-tooltip>
            </span>
            <span v-else>
              <v-tooltip bottom>
                <v-icon
                  slot="activator"
                  color="accent"
                  dark
                >person_outline</v-icon>
                <span>Admin</span>
              </v-tooltip>
            </span>
          </td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="editUser(user.item._id)"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="deleteUser(user.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
      </v-data-table>
    </v-card>
    <!-- Add btn -->
      <v-btn
        fab
        bottom
        right
        color="pink"
        dark
        fixed
        @click.stop="dialog = !dialog"
      >
        <v-icon>add</v-icon>
      </v-btn>
      <!-- Dialog for edit user -->
      <v-dialog v-model="dialog" width="800px" persistent>
        <v-card>
          <form @submit.prevent="onSaveUser">
            <v-card-title
              class="grey lighten-4 py-4 title"
            >
              {{userForm._id !== null ? 'Edit user' : 'Add new user'}}
            </v-card-title>
            <v-container grid-list-sm class="pa-4">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="userForm.email"
                    prepend-icon="mail"
                    placeholder="Email"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 align-center justify-space-between>
                    <v-text-field
                      v-model="userForm.name"
                      prepend-icon="account_circle"
                      name="name"
                      placeholder="Name"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select :items="roles"
                    v-model="userForm.role"
                    prepend-icon="face"
                    label="Role"
                    item-value="name"
                    item-text="name"
                    return-object
                  >
                  </v-select>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    placeholder="Password"
                    prepend-icon="lock"
                    v-model="userForm.password"
                    :append-icon="showPass ? 'visibility_off' : 'visibility'"
                    :type="showPass ? 'text' : 'password'"
                    name="password"
                    @click:append="showPass = !showPass"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
              <v-btn color="info" :loading="loading" :disabled="loading" type="submit">{{userForm._id !== null ? 'Update' : 'Save'}}</v-btn>
            </v-card-actions>
          </form>
        </v-card>
      </v-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _ from 'lodash'
export default {
  data: () => ({
    search: '',
    dialog: false,
    showPass: false,
    userForm: {
      _id: null,
      email: '',
      name: '',
      password: '',
      role: {
        _id: '5b59b09b887fd6083e431117',
        role_id: 2,
        role_name: 'ADMIN',
        name: 'Admin'
      }
    },
    headers: [
      { text: 'Email', value: 'email' },
      { text: 'Name', value: 'name' },
      { text: 'Role', value: 'role', sortable: false },
      { text: 'Actions', value: 'actions', sortable: false }
    ]
  }),
  created () {
    // init roles for select
    this.$store.dispatch('roles/getRoles')
  },
  methods: {
    ...mapActions({
      setMessage: 'common/setMessage'
    }),
    editUser (id) {
      const user = this.$store.getters['user/getUserById'](id)
      this.userForm.name = user.name
      this.userForm.email = user.email
      this.userForm._id = user._id
      this.userForm.role = this.roles.find((role) => role.role_id === user.role.role_id)
      this.dialog = true
    },
    clearForm () {
      this.userForm = {
        _id: null,
        email: '',
        name: '',
        password: '',
        role: {
          _id: '5b59b09b887fd6083e431117',
          role_id: 2,
          role_name: 'ADMIN',
          name: 'Admin'
        }
      }
    },
    onSaveUser () {
      const user = this.userForm
      if (user._id === null) {
        this.$store.dispatch('user/addUser', user).then(res => {
          this.setMessage(`User: ${res.email} successfully added`)
          this.dialog = false
        }).catch(err => {
          console.log('err on add', err.response)
        })
      } else {
        this.$store.dispatch('user/updateUser', user).then(res => {
          this.setMessage(`User: ${res.email} successfully updated`)
          this.dialog = false
        }).catch(err => {
          console.log('err on update', err.response)
        })
      }
    },
    deleteUser (user) {
      let confVal = confirm(`Are you sure you want to delete user: ${user.name}?`)
      if (confVal) {
        this.$store.dispatch('user/deleteUser', user._id).then(() => {
          this.setMessage(`User: ${user.email} successfully deleted`)
        }).catch((err) => {
          console.log('err on delete', err.response)
        })
      }
    },
    searchUsers: _.debounce(function (search) {
      this.$store.dispatch('user/updatePagination', {search: search})
    }, 300)
  },
  watch: {
    search: function (newSearch, oldSearch) {
      this.searchUsers(newSearch)
    },
    dialog: function (newVal, oldValue) {
      if (!newVal) this.clearForm()
    }
  },
  computed: {
    ...mapGetters('user', ['users']),
    ...mapGetters('common', ['loading']),
    ...mapGetters('roles', ['roles']),
    pagination: {
      get () {
        return this.$store.getters['user/pagination']
      },
      set (pagination) {
        this.$store.dispatch('user/updatePagination', pagination)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .users-wrapper {
    width: 100%;
  }
</style>
