<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-alert
              :value="message"
              type="warning"
              transition="scale-transition"
            >
              {{$t('user.loginError')}}
            </v-alert>
            <v-card class="elevation-12">
              <v-form @submit.prevent="onLogin">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Login to Mozzart admin</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                    <v-text-field :loading="loading" placeholder="Email" ref="email" v-model="loginForm.email" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                    <v-text-field
                    :loading="loading"
                    :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                    :type="showPassword ? 'text' : 'password'"
                    v-model="loginForm.password"
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="Password"
                    placeholder="Password"
                    @click:append="showPassword = !showPassword"></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" type="submit" :loading="loading" :disabled="loading">Login</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    showPassword: false,
    message: false,
    loginForm: {
      email: '',
      password: ''
    }
  }),
  mounted () {
    this.$refs.email.focus()
  },
  methods: {
    onLogin () {
      this.$store.dispatch('auth/login', this.loginForm)
        .then((response) => {
          if (response.data.error && response.data.status === 'WRONG_CREDENTIALS') {
            this.message = true
          } else {
            console.log('login success -> redirect user', response, response.data.role.path)
            if (this.$route.query.redirect) {
              this.$router.push(this.$route.query.redirect)
            } else if (response.data.role.path && response.data.role.path !== '') {
              this.$router.push(response.data.role.path)
            } else {
              this.$router.push('/admin')
            }
          }
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  computed: {
    ...mapGetters('common', ['loading'])
  }
}
</script>
